*{
    box-sizing: border-box;
}
body{
  background-color: cyan;
}
.container{
    max-width: 400px;
}
.todo li{
  background-color: #3333;
}
.delete{
  cursor: pointer;
}
input[type=text],
input[type=text]:focus{
  color: antiquewhite;
  border: none;
  background-color: #3333;
  max-width: 400px;
}
